@import "tailwindcss";

:root {
  --bg: #f8fcff;
  --fg: #123c5a;
}

html,
body {
  background: var(--bg);
  color: var(--fg);
  font-family:
    ui-rounded,
    "SF Pro Rounded",
    "Inter Rounded",
    "Nunito",
    system-ui,
    sans-serif;
  scroll-behavior: smooth;
}
